%h1 Listing commands

%table
  %thead
    %tr
      %th Name
      %th Url
      %th Description
      %th Uses
      %th
      %th
      %th
      
  %tbody
    - @commands.each do |command|
      %tr
        %td= command.name
        %td= command.url
        %td= command.description
        %td= command.uses
        %td= link_to 'Show', command
        %td= link_to 'Edit', edit_command_path(command)
        %td= link_to 'Destroy', command, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Command', new_command_path
